.bg-custom {
  background-color: #042435;;
}

.navbar-nav {
  text-align: center;
}

.navbar-custom .navbar-nav .nav-link {
  font-weight: bolder;
  color: white;
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: #b1f3ef;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.central {
  width: 150px;
}

#botoes {
  margin-top: 20px;
}

#botao {
  background-color: #fff;
  color: #34c0d3; 
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

#botao:hover {
  background-color: #ddd; 
}

.slogan{
  font-size: 220%;
  font-weight: bolder;
  background-color: #34c0d3;
  color: white;
  padding: 6%;
  max-width: 100%;
}

.entrar {
  top: 50%;
  right: 0px;
  transform: translate(-50px, -180%);
  width: 320px;
  margin: 10px;
  border: 2px solid #f0f0f0e1;
  border-radius: 10px;
  padding: 7px;
  font-size: 21px;
  font-weight: bold;
  color: #34c0d3;
  position: absolute;
  cursor: pointer;
}


.entrar:before {
  margin-top: -4px;
  content: "";
  position: absolute;
  bottom: 4px;
  height: 3px;
  width: 0;
  background: #34c0d3;
  border-radius: 50px;
  transition: width 0.3s ease;
}

.entrar:hover:before {
  width: 60%;
}

.card {
  width: 370px;
  margin: 10px;
  border: 2px solid #f0f0f0e1;
  border-radius: 10px;
  padding: 5px;
  padding-bottom: 0;
  text-align: left;
}

.card-title {
  color: #34c0d3;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-text {
  margin-top: 21px;
  font-size: 16px;
  margin-bottom: 1px;
}

.container-cards {
  display: flex;
  justify-content: space-between;
  padding: 1% 3% 3% 4%;
}

@media screen and (max-width: 767px) {
  .container-cards {
    margin-top: -73px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slogan {
    font-size: 100%;
    font-weight: bolder;
    padding: 6%;
    max-width: 100%;
    position: relative;
  }

  .entrar {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(10%, -270%);
    width: 40%;
    padding: 7px;
    font-size: 14px;
  }
}