body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 2%;
}

.bg-custom {
    background-color: #042435;;
}
  
.navbar-nav {
    text-align: center;
}
  
.navbar-custom .navbar-nav .nav-link {
    font-weight: bolder;
    color: white;
}
  
.navbar-custom .navbar-nav .nav-link:hover {
    color: #34c0d3;
}

a {
    text-decoration: none;
    color: black;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#searchInput {
    width: 100%; 
    padding: 10px; 
    font-size: 18px; 
    background-color: #f2f2f2e1;
    border: none;
    border-radius: 10px;
}

h1 {
    font-weight: bold;
    font-size: 24px;
}

a {
    text-decoration: none;
}

h2 {
    font-weight: bolder;
    font-size: 22px;
    margin-bottom: 0px;
}

main {
    padding: 2% 4%;
    background-color: white;
}

.sistema{
    font-size: 27px;
    margin-left: 7%;
    color: #34c0d3;
    font-weight: bolder;
}

.faq-list {
    cursor: pointer;
    max-width: 82%;
    margin-left: 7%;
}

.faq-item {
    border: 2px solid #f0f0f0e1;
    cursor: pointer;
    margin-top: 30px;
    padding: 1.5%;
}

.answer {
    font-size: 18px;
    margin-top: 20px;
}

.fas {
    float: right;
    color: #34c0d3;
}

@media screen and (max-width: 480px) {
    .faq-item {
        border: 2px solid #f0f0f0e1;
        cursor: pointer;
        margin-top: 30px;
        padding: 5%;
        padding-right: 40px;
        position: relative;
        overflow: hidden;
    }
    
    .fas {
        position: absolute;
        top: 29px;
        right: 10px;
        transform: translateY(-50%);
    }
    
    .answer {
        font-size: 18px;
        margin-top: 20px;
        overflow: hidden; 
    }
    
    .icon-visible .fas {
        display: block;
    }
}
