.bg-custom {
    background-color: #042435;
}

body {
    font-family: 'Helvetica', sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 1200px;
}

.row-cols-1 {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.10);
}

.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 8px;
}

.card strong {
    font-weight: bold;
}



