* {
  text-decoration: none;
  padding: 0%;
  font-family: Helvetica;
  box-sizing: border-box;
}

.all {
  padding: 2% 4%;
  background-color: white;
}

body {
  background-color: #fff;
}

h1 {
  font-weight: bold;
  font-size: 24px;
  margin: 20px 0;
}

.bg-custom {
  background-color: #042435;;
}

.navbar-nav {
  text-align: center;
}

.navbar-custom .navbar-nav .nav-link {
  font-weight: bolder;
  color: white;
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: #b1f3ef;
}

.data-conteudo {
  margin-bottom: -70px;
}

#search-icon {
  margin-right: 10px;
}

#termo_pesquisa {
  background-color: #f2f2f2e1;
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
}

.search-and-filter {
    display: flex;
    align-items: center;
}

.search-box {
    display: flex;
    flex: 1;
    background-color: #f2f2f2e1;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.dropbtn {
  margin: 5px;
  border-radius: 10px;
  background-color: #f2f2f2e1;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  width: 290px;
  margin: 10px;
  border: 2px solid #f0f0f0e1;
  border-radius: 10px;
  padding: 5px;
  padding-bottom: 0;
  text-align: left;
}

.card-header {
  padding: 0px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: white;
  border: none;
}

.card-genero {
  font-size: 13px;
  margin-bottom: 7px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  margin-bottom: 1px;
}

.card-entrar {
  font-size: 16px;
  font-weight: bold;
  color: #34c0d3;
  margin-top: 12px;
  position: relative;
  cursor: pointer;
}

.card-entrar:before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 2px;
  width: 0;
  background: #34c0d3;
  border-radius: 50px;
  transition: width 0.3s ease;
}

.card-entrar:hover:before {
  width: 68%;
}

.azul {
  color: #34c0d3;
  margin-bottom: 8px;
  cursor: pointer;
}

.far.fa-star {
  margin-bottom: 8px;
  cursor: pointer;
}

.error-message {
  color: #787878;
  font-weight: bolder;
  font-size: 17px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.error-message img {
    max-width: 100%;
}

@media screen and (max-width: 480px) {
  .navbar-nav {
    text-align: center;
  }

  .navbar-nav .nav-item {
    display: block;
    margin: 0;
    text-align: center;
  }

  .navbar-nav .nav-link {
    display: inline-block;
    text-align: center;
    margin: 0;
  }

  .card-container {
    justify-content: center; 
    align-items: center; 
  }
}